.box__verify{
    width: 60%;
    margin: 0 auto;
}
.verify-message{
    text-align: center;
    margin: 36px 0;
    font-size: 24px;
    font-weight: bold;
}
.buttons__verify{
    display: flex;
    justify-content: center;
    gap:36px;
}
.button__verify{
    color:blue;
}